<html>
    <title>Welcome to MMS</title>
    <body>
        <h1>Welcome to Marilyn Monroe Spas</h1>
        {%  if firstname %}
            <div><h3>Welcome {{ firstname }}</h3></div>
        {%  endif %}
        <div></div>
        {% if user_session %}
            <a href="logout/">Logout</a>
            <a href="myaccount">My Account</a>
            <a href="find/">Find Locations</a>
        {% else %}
            <a href="login/">Login</a>
            <a href="register">Register</a>
            <a href="find/">Find Locations</a>
        {% endif %}
        <div></div>
    </body>
</html>